* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.left, .mid, .right {
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left {
    width: 15%;
}

.mid {
    width: 65%;
}

.right {
    width: 20%;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
a{
    text-decoration: none;
}
.main-container, .my-blog-container{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.list-blog, .content-blog, .list-my-blog, .content-my-blog{
    height: 100%;
    border: 1px solid black;
    overflow: auto;
    position: relative;
}
.list-blog, .list-my-blog{
    width: 30%;
}
.content-blog, .content-my-blog{
    width: 70%;
}
[class^="form-"]{
    width: 350px;
    height: 250px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.form-forgot-password{
    height: 150px;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    border: none;
}
form label {
    display: block;
    justify-content: space-between;
    margin-bottom: 10px;
}
form input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form button{
    width: 100px;
}

.header-container .mid .disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.header-container .right .disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.posts .disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.detail-post .disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.search-results .disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.login-forgot{
    display: flex;
    justify-content: space-between;
}
/*Ckeditor*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container-ckeditor {
    font-family: 'Lato';
    width: 100%;
}

#root > div.main-container > div.content-blog > div > form > label:nth-child(3) > div > div > div > div > div > div.ck.ck-reset.ck-editor.ck-rounded-corners > div.ck.ck-editor__main > div{
    height: 300px;
}
#root > div.my-blog-container > div.content-my-blog > div > form > label:nth-child(3) > div > div > div > div > div > div.ck.ck-reset.ck-editor.ck-rounded-corners > div.ck.ck-editor__main > div{
    height: 300px;
}
.ck-content {
    font-family: 'Lato';
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
    width: 100%;
}

.post-form, .edit-form{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    overflow: scroll;
    scrollbar-width: none;
}
.post-content{
    width: 90%;
}
.detail-post, .posts, .search-results{
    width: 95%;
    height: auto;
    margin-top: 10px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
    overflow: auto;
}
.post{
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 10px;
}
.title-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dropdown-title{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    right: 1%;
    transform: translate(1%);
    z-index: 1;
    background: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.dropdown-title:hover .dropdown-content{
    display: block;
}
.search{
    position: absolute;
    left: 90%;
    cursor: pointer;
}
.search-form{
    width: 320px;
    height: 120px;
    border: 1px solid black;
    position: relative;
}
.search-form > label{
    background: rgba(173, 216, 230, 0.82);
    border: 1px solid rgba(173, 216, 230, 0.82);
    margin-top: 2px;
    width: 318px;
    position: absolute;
    left: 0;
}
.content-search-term{
    width: 290px;
    height: 31px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}
.content-search-term > input{
    width: calc(100% + 48px);
    height: 29px;
    border: none;
    outline: none;
}
.searchOptions{
    height: 29px;
    outline: none;
    border-left: 1px solid black;
    background: #E5E5E5;
}
.submit{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}
.search-container-form {
    position: absolute;
    top: 150%;
    right: 50%;
    background: white;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

.search-container {
    display: flex;
    flex-direction: column;
}
